/* CSS Variables */
:root {}

/* Custom Light Mode Variables */
[data-bs-theme=light] {
    --bg-img-url: url(https://zebreus.github.io/all-gnome-backgrounds/images/adwaita-d-a422a4a11d335ce04783ef902b786dbf4fdf6441.webp);
    --mb-test: #EE383B;
}

/* Custom Dark Mode Variables */
[data-bs-theme=dark] {
    --bg-img-url: url(https://zebreus.github.io/all-gnome-backgrounds/images/adwaita-d-ebee211cfcac7105b0b407b0b03ab2107f6e33be.webp);
    --mb-test: #0774FE;
}

html,
body {
    height: 100%;
}

/* Footer */
footer {
    position: sticky;
    top: 100vh;
}

.bg-img {
    background-image: var(--bg-img-url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 1.5s;
}



/* Navbar */
.logo {
    fill: var(--mb-test);
}

.navbar-brand:hover {
    transform: rotate(-5deg) scale(1.1);
}

.navbar-separator {
    border-color: var(--bs-nav-link-color) !important;
}

.navbar-toggler {
    border: none;
    border-radius: none;
}

.custom-icon {
    fill: var(--bs-nav-link-color);
    width: 18px;
    height: 18px;
}

.custom-icon:hover {
    fill: var(--bs-nav-link-hover-color)
}

/* Breadcrumb */
.breadcrumb-item a {
    text-decoration: none;
}


.breadcrumb-item a {
    color: var(--bs-body-color) !important;
}

.breadcrumb-item a:hover {
    color: var(--bs-heading-color) !important;
}

/* Card Animations */
.card-img-container {
    overflow: hidden !important;
}

.card-img-top {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
}

.card h5 {
    transition: color .2s ease-in-out;
}

.card:hover img {
    transform: scale(1.1);
}

.card:hover h5 {
    color: var(--bs-heading-color) !important;
}